:root{
  --bg-color: #122c34;
  --bg-color-secondary: #44cfcb;
  --bg-color-button: #4ea5d9;
  --text-color: #2a4494;
  --border-color: #224870;
}
/* Estilos base */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'DM Sans', sans-serif;
}

body {
  color: var(--text-color);
}

main {
	display: grid;
	place-content: center;
	width: 100%;
	height: 100vh;
	font-size: 1.8rem;
	background-color: var(--bg-color);
}

main .form-container {
	display: grid;
	justify-content: space-between;
	gap: 8px;
	justify-items: center;
	align-items: center;
	padding: 16px;
  min-width: 90%;
	min-height: 90%;
	border-radius: 8px;
	background-color: var(--bg-color-secondary);
}

main .form-container h2 {
	text-align: center;
}

.form-container .password-length-container {
	display: flex;
  justify-content: space-around;
  width: 90%;
  height: auto;
}

.form-container .password-length-container input {
	width: 20%;
	height: auto;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 700;
	border-radius: 8px;
	border-color: var(--border-color);
}

.form-container .password-length-container input:hover {
  box-shadow: 1px 1px 4px black;
}

.form-container .password-length-container #password-length-range {
  width: 50%;
}

.form-container .password-length-container #password-length-range:hover {
  box-shadow: none;
  cursor: pointer;
}

.form-container .password-length-container input:focus-visible {
	outline: none;
}

.form-container .password-options-container .ckeckbox-container {
	display: flex;
	align-items: center;
	margin-top: 12px;
}

.form-container .password-options-container .ckeckbox-container:hover {
  box-shadow: 1px 1px 8px var(--text-color);
}

.form-container .password-options-container .ckeckbox-container input {
	width: 18px;
	height: 18px;
	margin-right: 12px;
}

.form-container .primary-button {
	width: 150px;
	height: 38px;
	border-radius: 8px;
	cursor: pointer;
	background-color: var(--bg-color-button);
}

.form-container .primary-button:hover {
	box-shadow: 4px 4px 8px #1f2421;
	opacity: 80%;
}

.form-container .password-output-container {
	display: flex;
	flex-direction: column;
}

.form-container .password-output-container span {
	margin-bottom: 4px;
}

.form-container .password-output-container .output-copy {
	width: 200px;
	height: 40px;
  font-size: 1.8rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
	cursor: pointer;
	border-radius: 4px;
	background-color: var(--bg-color-secondary);
}

.form-container .password-output-container .output-copy-ativate {
  background-color: #aaf683;
}

.form-container .password-output-container .output-copy:hover {
	box-shadow: 4px 4px 16px #1f2421;
  opacity: 80%;
}

.form-container .password-output-container .alert {
  width: 200px;
  height: auto;
  margin-top: 8px;
  padding: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: var(--bg-color);
  background-color: var(--bg-color-button);
  box-shadow: 2px 2px 16px #1f2421;
}